<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"  (click)="goBack()"></ion-back-button>
    <ion-title>{{"DUMMY"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>

        <ion-row>
          <ion-col size="12" class="ion-align-items-center">
          <ion-text color="primary">
            <img src="assets/img/Dummy.jpg" alt="Pagina in costruzione">
          </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
