<ion-header>
  <ion-toolbar>
    <ion-title>Componenti disponibili:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding>
    <ion-item style="height: 10%" *ngFor="let entry of this.service.getComponentPartAvaiable(this.part)|async">
      <ion-thumbnail slot="start">
        <img src="assets/img/empty-folder.png" alt="">
      </ion-thumbnail>
      <ion-label>
        <h3>{{entry.marca}}</h3>
        <p>  {{entry.serie}}, {{entry.modello}}</p>
        <p>{{"PRICE"|translate}}: {{entry.prezzo}} €</p>
      </ion-label>
      <ion-icon name="add-circle" slot="end"  color="success"  size="large" (click)="addPartOnMyAsset(entry)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-item color="danger" button  (click)="closeModalPart()"><ion-icon name="close-circle"></ion-icon> Chiudi</ion-item>
</ion-footer>
