


      <ion-item color="primary" [formGroup]="commenting">
        <ion-input type="text"  formControlName="comment" color="tertiary" placeholder="{{'PLACEHOLDER_COMMENT'|translate}}"></ion-input>
      </ion-item>
      <ion-item color="success" button (click)="addCommento()" [disabled]="!commenting.valid">
        <ion-icon name="add" slot="start"></ion-icon>
        {{"INSERT_BUTTON"|translate}}
      </ion-item>
      <ion-item color="danger" button (click)="closePopover()">
      <ion-icon name="close" slot="start"></ion-icon>
        {{"CANCEL_BUTTON"|translate}}
      </ion-item>


