

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="forum">
        <ion-icon name="paper"></ion-icon>
        <ion-label>{{'FORUM_TAB' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="migliori" >
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>{{'MIGLIORI_TAB' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ricerca" >
        <ion-icon name="search"></ion-icon>
        <ion-label>{{'RICERCA_TAB' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="assetto" >
        <ion-icon name="desktop"></ion-icon>
        <ion-label>{{'ASSETTO_TAB' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
