
<ion-content>
        <!--           LISTA DEI POST CREATI DALL UTENTE      -->
        <ion-grid style="background: #FECB00;">
            <ion-row>
                <ion-col>
                    <ion-text color="primary" margin-bottom text-center>
                        <h2>{{"BINDWARE_INTERFACE"|translate}} <img src="assets/img/bindwareInterface.png" alt="Migliorare grafica" style="height: 8%;width: 8%"></h2>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div style="background: #383a3e; height: 1%; width: 100%"></div>


        <!-- They can also be used to group sliding items -->
        <ion-item-group>
            <ion-item-divider color="tertiary" >
                <ion-text color="primary" margin-start>
                    <ion-label>
                        <h2>
                            <ion-icon name="build" margin-start size="medium"></ion-icon> {{"MANAGE_ASSETS"|translate}}
                        </h2>
                    </ion-label>
                </ion-text>
            </ion-item-divider>

            <ion-item detail *ngFor="let ass of this.service.getAssetsByUtenteSession()| async">
                    <ion-thumbnail slot="start">
                        <img src="assets/img/provaassetto.png" alt="">
                    </ion-thumbnail>
                    <ion-label>
                        <h3>{{ass.nome_assetto}}</h3>
                        <p *ngIf="ass.completato === true;else  is_false"><ion-text color="success"><ion-icon name="checkmark-circle"></ion-icon> {{"COMPLETE"|translate}}</ion-text></p>
                        <ng-template #is_false><p><ion-text color="warning"><ion-icon name="warning"></ion-icon> {{"COMPLETE"|translate}}</ion-text></p></ng-template>
                        <p *ngIf="ass.pubblicato === true;else not_pubblic"><ion-text color="success"><ion-icon name="checkmark-circle"></ion-icon> {{"PUBLISH"|translate}}</ion-text></p>
                        <ng-template #not_pubblic><p><ion-text color="warning"><ion-icon name="warning"></ion-icon> {{"PUBLISH"|translate}}</ion-text></p></ng-template>
                    </ion-label>
                    <ion-icon name="construct" color="primary" slot="end"></ion-icon>
                </ion-item>


        </ion-item-group>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="open()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
