<ion-content no-padding>
  <!--           LISTA DEI POST CREATI DALL UTENTE      -->
  <ion-grid style="background: #FECB00;">
    <ion-row>
      <ion-col>
        <ion-text color="primary" margin-bottom text-center>
          <h2>{{this.systemAsset.nome_assetto}} <img src="assets/img/technical-support.png" alt="icona associata" style="height: 10%;width: 10%"></h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="background: #383a3e; height: 1%; width: 100%"></div>

  <ion-header>
    <ion-grid>
      <ion-row >
        <ion-col size="4" >
          <ion-item class="ion-align-items-center" no-padding>
          <ion-icon name="stats" color="tertiary"></ion-icon><ion-label> {{this.systemAsset.benchmark_ibrido}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4" >
          <ion-item class="ion-align-items-center" no-padding>
            <ion-icon name="flash" color="warning"></ion-icon><ion-label> {{this.systemAsset.wattaggio}} W</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="ion-align-items-center" no-padding>
            <ion-icon name="cash" color="success"></ion-icon><ion-label> {{this.systemAsset.prezzotot}} €</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

  <div style="background: #383a3e; height: 1%; width: 100%"></div>

  <ion-list no-padding>
    <!-- CPU -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> CPU</ion-label>
      </ion-item-divider>

      <!-- Composizione a griglia dell item -->
      <ion-item *ngIf="this.systemAsset.cpu != null || this.systemAsset.cpu != undefined;else insert_button">
          <ion-thumbnail slot="start">
            <img src="assets/img/empty-folder.png" alt="">
          </ion-thumbnail>
          <ion-label>
            <h3>{{this.systemAsset.cpu.marca}}</h3>
            <p>{{this.systemAsset.cpu.serie}}, {{this.systemAsset.cpu.modello}}</p>
            <p>{{"PRICE"|translate}}: {{this.systemAsset.cpu.prezzo}} €</p>
          </ion-label>
          <ion-icon name="close-circle" slot="end" color="danger" size="large" (click)="removeComponentFromAsset('CPU')"></ion-icon>
        </ion-item>
      <!-- Composizione a griglia dell item -->

      <!-- CPU  if bottone o componente-->
      <ng-template #insert_button>
      <ion-item >
      <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
      </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- CPU -->
    <!-- MOBO -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> MOBO</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.systemAsset.mobo != null || this.systemAsset.mobo != undefined;else insert_button">
        <ion-thumbnail slot="start">
          <img src="assets/img/empty-folder.png" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{this.systemAsset.mobo.marca}}</h3>
          <p>{{this.systemAsset.mobo.serie}}, {{this.systemAsset.mobo.modello}}</p>
          <p>{{"PRICE"|translate}}: {{this.systemAsset.mobo.prezzo}} €</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end" color="danger" size="large" (click)="removeComponentFromAsset('MOBO')"></ion-icon>
      </ion-item>


      <ng-template #insert_button>
        <ion-item >
          <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
        </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- MOBO -->
    <!-- RAM -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> RAM</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.systemAsset.ram != null || this.systemAsset.ram != undefined;else insert_button">
        <ion-thumbnail slot="start">
          <img src="assets/img/empty-folder.png" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{this.systemAsset.ram.marca}}</h3>
          <p>{{this.systemAsset.ram.serie}}, {{this.systemAsset.ram.modello}}</p>
          <p>{{"PRICE"|translate}}: {{this.systemAsset.ram.prezzo}} €</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end" color="danger" size="large" (click)="removeComponentFromAsset('RAM')"></ion-icon>
      </ion-item>


      <ng-template #insert_button>
        <ion-item >
          <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
        </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- RAM -->
    <!-- VIDEO -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> GPU</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.systemAsset.gpu != null || this.systemAsset.gpu != undefined;else insert_button">
        <ion-thumbnail slot="start">
          <img src="assets/img/empty-folder.png" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{this.systemAsset.gpu.marca}}</h3>
          <p>{{this.systemAsset.gpu.serie}}, {{this.systemAsset.gpu.modello}}</p>
          <p>{{"PRICE"|translate}}: {{this.systemAsset.gpu.prezzo}} €</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end" color="danger" size="large" (click)="removeComponentFromAsset('GPU')"></ion-icon>
      </ion-item>


      <ng-template #insert_button>
        <ion-item >
          <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
        </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- VIDEO -->
    <!-- DISCO -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> DISK</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.systemAsset.disco != null || this.systemAsset.disco != undefined;else insert_button">
        <ion-thumbnail slot="start">
          <img src="assets/img/empty-folder.png" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{this.systemAsset.disco.marca}}</h3>
          <p>{{this.systemAsset.mobo.serie}}, {{this.systemAsset.disco.modello}}</p>
          <p>{{"PRICE"|translate}}: {{this.systemAsset.disco.prezzo}} €</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end" color="danger" size="large"></ion-icon>
      </ion-item>


      <ng-template #insert_button>
        <ion-item >
          <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
        </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- DISCO -->
    <!-- ALIMENTATORE -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> POWER</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.systemAsset.alimentatore != null || this.systemAsset.alimentatore != undefined;else insert_button">
        <ion-thumbnail slot="start">
          <img src="assets/img/empty-folder.png" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{this.systemAsset.alimentatore.marca}}</h3>
          <p>{{this.systemAsset.alimentatore.serie}}, {{this.systemAsset.alimentatore.modello}}</p>
          <p>{{"PRICE"|translate}}: {{this.systemAsset.alimentatore.prezzo}} €</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end" color="danger" size="large"></ion-icon>
      </ion-item>


      <ng-template #insert_button>
        <ion-item >
          <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
        </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- ALIMENTATORE -->
    <!-- CASE -->
    <ion-item-group>
      <ion-item-divider color="tertiary">
        <ion-label class="ion-margin-start"><ion-icon name="information-circle-outline"></ion-icon> CASE</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.systemAsset.computercase != null || this.systemAsset.computercase != undefined;else insert_button">
        <ion-thumbnail slot="start">
          <img src="assets/img/empty-folder.png" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{this.systemAsset.computercase.marca}}</h3>
          <p>{{this.systemAsset.computercase.serie}}, {{this.systemAsset.computercase.modello}}</p>
          <p>{{"PRICE"|translate}}: {{this.systemAsset.computercase.prezzo}} €</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end" color="danger" size="large"></ion-icon>
      </ion-item>


      <ng-template #insert_button>
        <ion-item >
          <ion-button color="warning" expand="block" shape="round" style="width: 40%;"><ion-icon name="add-circle-outline"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
        </ion-item>
      </ng-template>
    </ion-item-group>
    <!-- CASE -->

  </ion-list>



</ion-content>







<ion-footer>
  <ion-item color="warning"  button (click)="closeModal()"><ion-icon name="checkmark-circle" class="ion-margin-start"></ion-icon>
    {{"DONE_BUTTON"|translate}}
  </ion-item>
    <ion-item color="danger"  button (click)="deleteAssettoPresent()"><ion-icon name="trash" class="ion-margin-start"></ion-icon>
      {{"DELETE_BUTTON"|translate}} {{"ASSETTO_TAB"| translate}}
    </ion-item>
</ion-footer>
