<ion-footer [formGroup]="assetForm">
  <ion-item>
    <ion-label position="floating"> {{"CREATE_ASSET"|translate}}</ion-label>
    <ion-input type="text" formControlName="nome" placeholder="{{'NAME_ASSET'|translate}}..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="tertiary"  shape="round" expand="block" style="width: 50%" (click)="addAsset()" [disabled]="!assetForm.valid" ><ion-icon name="add"></ion-icon> {{"INSERT_BUTTON"|translate}}</ion-button>
    <ion-button color="danger"  shape="round" expand="block" style="width: 50%" (click)="closeModal()"><ion-icon name="close"></ion-icon> {{"CANCEL_BUTTON"|translate}}</ion-button>
  </ion-item>
</ion-footer>

